body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f7f7f7;
}

h1 {
  margin-top: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Create a grid with 5 columns */
  gap: 10px;
  margin-top: 50px;
  padding: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.category {
  text-align: center;
  font-size: 20px;
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
}

.question-btn {
  display: block;
  margin: 5px;
  padding: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.question-btn:hover {
  background-color: #218838;
}

button {
  padding: 10px;
  font-size: 16px;
}

#question-container, #answer-container {
  margin-top: 20px;
}

#scoreboard {
  margin-top: 50px;
  background-color: #333;
  color: white;
  padding: 20px;
}

#team-scores p {
  font-size: 18px;
  margin: 5px 0;
}

#team-scores {
  font-weight: bold;
}

.category-btn {
  background-color: #007bff;
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.category-btn:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

